/* Root styles for city details */
.city-detail {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 170px);
  }
  

/* Styles for city header section */
.city-header {
    display: flex; /* Used to position city name and weather horizontally */
    justify-content: space-between;
  }

.city-name {
  text-align: left; /* Left-align the city and country */
  flex: 1;
}

.city-name h1 {
  margin: 0;
  font-weight: bold;
}

.city-name h2 {
  margin: 0;
  color: #555;
  font-weight: normal;
}


/* Styles for weather display */
.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #e0f2ff, #ffffff);
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease; /* Smoothens the hover effect */
}

.weather-display:hover {
  transform: translateY(-3px); /* Slightly raises the card on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05); /* Increases shadow depth */
}


/* Styles for weather info within the weather display */
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.temperature,
.temperature-range,
.weather-img,
.condition {
  order: -1;
  display: inline-block;
}

.weather-img {
  width: 40%;
  height: 40%;
  margin-right: 10px;
}
.temperature {
  font-size: 3rem; /* Increased font size */
  font-weight: 400; /* Bold for emphasis */
  margin-bottom: 10px;
  color: #444;
}

.condition {
  font-size: 2rem; /* Slightly larger font */
  margin-bottom: 10px;
  color: #444;
}

.temperature-range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.high,
.low {
  font-size: 1.1rem; /* Bigger than before */
}


/* Styles for additional weather info */
.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  font-size: 1rem;
  color: #555;
}

.sunrise,
.sunset,
.wind,
.humidity {
  font-weight: 500; /* Semi-bold for clarity */
}


/* Styles for post section at the bottom */
.posts {
  flex: 1; /* Allocates space for posts */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes posts to the bottom */
}

/* Add this media query to target screens with a maximum width of 480px (covers many mobile devices) */
@media (max-width: 480px) {
  .city-header {
    flex-direction: column;
  }

  .city-name {
    margin-bottom: 20px;
    text-align: left;
  }

  .city-name h1,
  .city-name h2 {
    font-size: 2rem;
  }

  .weather-display {
    width: 100%;
  }

  .weather-img {
    width: 30%;
    height: 30%;
  }

  .temperature {
    font-size: 2rem;
  }

  .condition {
    font-size: 1.5rem;
  }

  .high,
  .low {
    font-size: 1rem;
  }

  .additional-info {
    font-size: 0.8rem;
  }

  .city-detail {
    height: auto;
    padding: 10px;
  }
}
