#weather {
    border-style: solid;
    height: 200px;
}

#row1 {
    margin-top: 10px;
}

#row2 {
    margin-top: 10px;
}

/* .container {
    position: relative;
} */
/* .posts {
    position: absolute; 
    bottom: 10px;
	width: 100%;
	background:  #cccccc;   
} */