.city-detail {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 170px);
}

.city-header {
  display: flex; /* Using flex to position elements horizontally */
  justify-content: space-between; /* This will push city-name to the left and weather to the right */
  align-items: center; /* Vertically centers the content in case they have different heights */
}

.weather-display {
  display: flex;
  justify-content: center; /* Distributes available space evenly between the icon and info */
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #e0f2ff, #ffffff);
  border-radius: 20px;
  width: 300px; /* This sets a fixed width, but you can adjust or remove */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease; /* Smoothens the hover effect */
}

.weather-display:hover {
  transform: translateY(-3px); /* Slightly raises the card on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05); /* Increases shadow depth */
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.temperature,
.temperature-range,
.weather-img,
.condition {
  order: -1;
  display: inline-block;
}

.weather-img {
  width: 40%;
  height: 40%;
  margin-right: 10px;
}
.temperature {
  font-size: 3rem; /* Increased font size */
  font-weight: 400; /* Bold for emphasis */
  margin-bottom: 10px;
  color: #444;
}

.condition {
  font-size: 2rem; /* Slightly larger font */
  margin-bottom: 10px;
  color: #444;
}

.temperature-range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.high,
.low {
  font-size: 1.1rem; /* Bigger than before */
}

.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
  font-size: 1rem;
  color: #555;
}

.sunrise,
.sunset,
.wind,
.humidity {
  font-weight: 500; /* Semi-bold for clarity */
}

.posts {
  flex: 1; /* Allocates space for posts */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes posts to the bottom */
}
