 
<div class="city-detail" *ngIf="currentWeather">
  <div class="city-header">
    <div class="city-name">
      <h1>{{ currentWeather.name }}</h1>
      <h2>{{ currentWeather.sys.country }}</h2>
    </div>
    <div class="weather-display">
      <div class="weather-info">
        <span class="temperature">{{ (currentWeather.main.temp) | number: '1.0-0' }}°F</span>
        <div class="temperature-range">
          <span class="high">H: {{ (currentWeather.main.temp_max) | number: '1.0-0' }}°F</span> | 
          <span class="low">L: {{ (currentWeather.main.temp_min) | number: '1.0-0' }}°F</span>
        </div>
        <img
        src="http://openweathermap.org/img/w/{{ currentWeather.weather[0].icon }}.png"
        alt="Weather Icon"
        class="weather-img"
        />
        <span class="condition">{{ currentWeather.weather[0].description }}</span>
        <div class="additional-info">
          <span class="sunrise">Sunrise: {{ (currentWeather.sys.sunrise * 1000) | date: 'h:mm a' }}</span>
          <span class="sunset">Sunset: {{ (currentWeather.sys.sunset * 1000) | date: 'h:mm a' }}</span>
          <span class="wind">Wind: {{ currentWeather.wind.speed }} mph</span>
          <span class="humidity">Humidity: {{ currentWeather.main.humidity }}%</span>
        </div>
        <div id="radarMap" style="height: 300px; width: 100%;"><input type="checkbox" [(ngModel)]="isChecked"></div>
        
      </div>{{isChecked}}
    </div>
  </div>
  <div class="posts">
    <app-post-info-bubble></app-post-info-bubble>
  </div>
</div>