<h2>Wayfarer Is</h2>
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Explore the World</h5>
          <p class="card-text">Our travel app is your passport to adventure. Discover fantastic new destinations, plan itineraries, and book accommodations with ease, all in one place.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Wanderlust Companion</h5>
          <p class="card-text">Whether you're a solo explorer or traveling with friends and family, our app helps you navigate unfamiliar places, find local hotspots, and create unforgettable memories.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Travel Smarter</h5>
          <p class="card-text">From real-time flight updates to offline maps and language translation, our app is your ultimate travel assistant, ensuring a stress-free and enjoyable journey.</p>
        </div>
    </div>
</div>


