<div class="container">
  <img src="{{ cityImage }}" />
  <!-- <div class="text-container">
    <h3>{{ postTitle }}</h3>
    <p>{{ postSummary }}</p>
  </div> -->
  <div class="text-container">
    <h3>Exploring London</h3>
    <p>Discover the vibrant streets and historical landmarks of this iconic city.</p>
  </div>
</div>

<div class="container">
  <img src="{{ cityImage }}" alt="City Image" />
  <div class="text-container">
    <h3>San Francisco Vibes</h3>
    <p>From the Golden Gate Bridge to Alcatraz, there's no shortage of sights to see.</p>
  </div>
</div>
