.container {
    display: flex;
    border-radius: 15px;
    border-style: solid;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    height: 100px;
}

img { 
    height: 70px;
    width: 70px;
    overflow: hidden;
}
p{
    font-size: 10px;
}